
@{
    ViewBag.Title = "AddAppUser";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

@Html.Partial("Partial/SectionForm");
<section class="content">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("/Areas/Admin/Views/Shared/Partial/FormMessage.cshtml")
            <!-- general form elements -->
            @Html.Partial("Partial/AppUserForm");
        </div>
    </div>
</section>

