
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/AdminHomeIndex"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/Admin/Category/CategoryList">Category List</a></li>
        <li class="active">Add Category</li>
    </ol>
</section>