
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/AdminHomeIndex"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/Admin/AppUser/AppUserList"></a>AppUser List</li>
        <li class="active">Add AppUser</li>
    </ol>
</section>
